.text-en {
  font-family: $text-en !important;
}

.text-jp {
  font-family: $text-jp !important;
}

img {
  display: block;
  width: 100%;
}

.work-card {
  .v-card {
    z-index: 2;
    transition: 0.8s;
  }
  &:hover {
    .v-card {
      transform: scale(1.025);
      .v-img {
        transform: scale(1.025);
      }
    }
  }
}

.hidden {
  animation: hidden 1.5s linear forwards;
}
@keyframes hidden {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
    width: 0;
    display: none;
  }
}
