// layout
.my-top-header {
  height: $height-navigation-bar;
  background: $color-mian-background;
  display: flex;
  align-items: center;
}

.my-bottom-navigation {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: $height-navigation-bar;
  z-index: 999;
  justify-content: space-around;
  background-color: #fff;
}
