* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html,
body {
  background-color: #fafafa;
}

@import "./variables.scss";
@import "./layout.scss";
@import "./common.scss";
